html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  position: relative;
  background: $color1 !important;
  background: radial-gradient(circle, $color2 0%, $color1 100%) !important;
  font-family: 'Circular', sans-serif;
  font-size: 16px;
  font-weight: 300; //300/500/900
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

main {
  margin: 0 auto;
  width: 83.333333%;

  &.full {
    width: 100%;
  }

  &.margin-66 {
    @media (min-width: 1200px) {
      width: 66.666666%;
    }
  }
}

a {
  text-decoration: none;

  &.button {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    border-radius: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: $anim;
    max-width: 270px;
    backdrop-filter: blur(40px) saturate(120%) brightness(100%);

    span {
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.25em;
    }

    &.transparent {
      background-color: transparent;
      border-color: transparent;
      backdrop-filter: none;

      &:hover {
        backdrop-filter: blur(40px) saturate(120%) brightness(100%);
      }
    }

    &.has-line {
      position: relative;

      .line {
        display: block;
        position: absolute;
        height: 65px;
        width: 1px;
        right: 0;
        left: 0;
        top: calc(-100% + 10px);
        margin: auto;
        background-color: $color4;
        transform-origin: center bottom;
        transition: $anim;
      }
    }

    &:hover {
      // background-color: rgba(255, 255, 255, 0.2);

      background-color: rgb(111 66 193 / 15%);
      border-color: $color3;

      .line {
        transform: scaleY(0);
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

#__next,
.light-container {
  height: 100%;
}

#__next {
  &::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent url('/img/noise.webp') center/auto repeat;
    z-index: -1;
  }
}

.bg-container-main {
  .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    transition: opacity 0.6s ease-out;
    animation: zoomInAndOut 6s ease-in-out infinite alternate;
    -webkit-animation: zoomInAndOut 6s ease-in-out infinite alternate;

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
}

.light-container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.light {
  position: absolute;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  display: block;
  width: 728px;
  height: 728px;
  transition: transform 0.1s, opacity 0.6s;
  background: rgb(255, 255, 255);
  pointer-events: none;
  z-index: 1000;
  //White
  // background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 33%, rgba(255, 255, 255, 0) 66%);
  // Purple
  background: radial-gradient(circle, rgb(111 66 193 / 50%) 0%, rgba(111, 66, 193, 0.31) 16%, rgba(255, 255, 255, 0) 66%);
}

.light-container {
  &.smaller {
    .light {
      transition: transform 0.2s;
    }
  }
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 2560px;
  height: 100vh;
  transition: all 2s ease-out 1s;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0.5);
  z-index: -1;

  .col {
    height: 100vh;
    border-right: 1px solid #fff;

    &:nth-child(4) {
      border: none;
    }

    @media (min-width: 992px) {
      &:nth-child(4) {
        border-right: 1px solid #fff;
      }

      &:last-child {
        border: none;
      }
    }
  }

  &.css-anim {
    opacity: 0.1;
    transform: scaleX(1);
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pretitle {
  font-family: 'Evossry';
  font-size: 12vw;
  line-height: 0;
  color: $color3;
  cursor: default;
  transform-origin: top center;

  @media (min-width: 1260px) {
    font-size: 8.3vw;
  }

  svg {
    width: 80%;
    margin: 0 auto -50px;
    @media (min-width: 992px) {
      width: 41.666666%;
    }
  }
}

.bold {
  font-weight: 500;
}

.title {
  font-family: 'Brilon';
  font-size: 7.3vw;
  color: white;
  cursor: default;
  user-select: none;
  transform-origin: top center;

  .space {
    width: 2.6vw;
  }

  @media (min-width: 576px) {
    font-size: 5.75vw;
  }

  .atropos {
    display: inline-block;

    &.is-maj {
      // &[class*="letter-"] {
      //   .letter-single {
      //   }
      //   + .no-maj {
      //   }
      // }

      &.letter-d {
        .letter-single {
          width: 9.7vw;
          text-align: left;
          padding-left: 0.4vw;
          @media (min-width: 576px) {
            width: 6.7vw;
          }
        }
        + .no-maj {
          margin-left: -1vw;
          @media (min-width: 992px) {
            margin-left: 0;
          }
        }
      }

      &.letter-c,
      &.letter-e,
      &.letter-r,
      &.letter-k,
      &.letter-l,
      &.letter-f {
        .letter-single {
          width: 9.25vw;
          text-align: left;
          z-index: -1;

          @media (min-width: 576px) {
            width: 7.6vw;
          }
        }
        + .no-maj {
          margin-left: -6.1vw;

          @media (min-width: 576px) {
            margin-left: -4.5vw;
          }
        }
      }

      &.letter-c {
        + .no-maj {
          margin-left: -7vw;

          @media (min-width: 576px) {
            margin-left: -5.5vw;
          }
        }
      }

      &.letter-k {
        + .no-maj {
          margin-left: -4.3vw;

          @media (min-width: 576px) {
            margin-left: -4vw;
          }
        }
      }

      &.letter-l {
        + .no-maj {
          margin-left: -7.4vw;

          @media (min-width: 576px) {
            margin-left: -5.9vw;
          }
        }
      }

      &.letter-r {
        + .no-maj {
          margin-left: -3.5vw;

          @media (min-width: 576px) {
            margin-left: -3.4vw;
          }
        }
      }

      &.letter-q,
      &.letter-t {
        .letter-single {
          width: 11.25vw;
          text-align: left;
          z-index: -1;

          @media (min-width: 576px) {
            width: 8.8vw;
          }
        }
        + .no-maj {
          margin-left: -4.7vw;

          @media (min-width: 576px) {
            margin-left: -4.1vw;
          }
        }
      }

      &.letter-q {
        + .no-maj {
          margin-left: -1.7vw;

          @media (min-width: 576px) {
            margin-left: -1.7vw;
          }
        }
      }

      &.letter-t {
        + .no-maj {
          margin-left: -4.4vw;

          @media (min-width: 576px) {
            margin-left: -3.6vw;
          }
        }
      }

      &.letter-v {
        .letter-single {
          width: 7.3vw;
          text-align: center;

          @media (min-width: 576px) {
            width: 6vw;
          }
        }
        + .no-maj {
          margin-left: -0.8vw;

          @media (min-width: 576px) {
            width: -0.8vw;
          }
        }
      }

      &.letter-w {
        .letter-single {
          width: 10vw;
          text-align: left;

          @media (min-width: 576px) {
            width: 8vw;
          }
        }
        + .no-maj {
          margin-left: -0.55vw;
        }
      }

      &.letter-x {
        .letter-single {
          width: 6.65vw;
          text-align: left;
          @media (min-width: 576px) {
            width: 4.65vw;
          }
        }
      }

      &.letter-y {
        .letter-single {
          width: 6.65vw;
          text-align: center;
          @media (min-width: 576px) {
            width: 4.1vw;
          }
        }

        + .no-maj {
          margin-left: -2.7vw;

          @media (min-width: 576px) {
            margin-left: -1.2vw;
          }
        }
      }
    }
  }

  .title-anim {
    position: relative;
    overflow: hidden;
    line-height: 1.7;

    .letter-single {
      opacity: 0;
      display: inline-block;
      transform-origin: center;
      // Gold effect => Background-clip + transform = bug on FF + Chrome -- so putted background here... unfortunetaly
      background-image: url('/img/gold.jpg');
      background-position: 40% 50%;
      background-size: 300% 150%;
      background-clip: text;
      color: transparent;
    }
  }
}

.subtitle {
  opacity: 0;
  color: $color4;
  font-size: 1.35em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-left: 0.31em;
  cursor: default;
  transform-origin: top center;
  @media (min-width: 376px) {
    letter-spacing: 0.4em;
  }

  @media (max-width: 376px) {
    font-size: 1.1em;
  }
}

.swiper {
  padding: 0 16.666666%;
  @media (min-width: 768px) {
    padding: 0 8.333333%;
  }

  .swiper-slide {
    padding: 30px 0;
  }
  .atropos {
    &-inner {
      border-radius: 35px;
    }

    &.is-maj {
      &.letter-d {
        .letter-single {
          width: 9.7vw;
          text-align: left;
          padding-left: 0.4vw;
          @media (min-width: 576px) {
            width: 6.65vw;
          }
        }
        + .no-maj {
          margin-left: -1vw;
          @media (min-width: 992px) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.flip-card {
  padding: 0;
  position: relative;
  will-change: transform;

  @media (min-width: 1921px) {
    padding: 0 15px;
  }

  .line {
    display: block;
    position: absolute;
    height: 65px;
    width: 1px;
    right: 0;
    left: 0;
    top: -30px;
    margin: auto;
    background-color: $color3;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: $anim;
    z-index: 2;
  }

  a {
    display: block;
    padding: 10px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: border 0.3s ease-out, background-color 0.3s ease-out;

    &:hover {
      background-color: rgb(111 66 193 / 7%);
      border-color: $color3;
    }
  }

  &-wrapper {
    position: relative;
    border-radius: $radius;
    width: 100%;
    padding-bottom: 150%;

    @media (min-width: 1921px) {
      padding-bottom: 150%;
    }

    &-bg {
      img {
        border-radius: $radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-button {
      width: fit-content;
      text-align: center;
      position: absolute;
      bottom: 50px;
      width: 100%;
      padding: 0px 15px;
      max-width: 320px;
      white-space: nowrap;
      left: 0;
      right: 0;
      margin: auto;
      color: white;

      > span {
        display: block;
        position: relative;
        width: 100%;
        background-color: rgb(111 66 193 / 15%);
        backdrop-filter: blur(40px) saturate(120%) brightness(100%);
        border-radius: 50px;
        padding: 23px 0;
        overflow: hidden;
      }

      &-undertitle {
        opacity: 0.05;
        position: absolute;
        z-index: 0;
        font-family: 'Evossry', sans-serif;
        font-size: 5.5em;
        line-height: 0.8;
        white-space: nowrap;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      h2 {
        position: relative;
        z-index: 1;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.15em;
      }
    }
  }

  &:hover {
    .line {
      transform: scaleY(1);
    }
  }
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  > span {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
  }

  .sep {
    opacity: 0.6;
    margin: 30px auto 10px;
    text-transform: uppercase;
    opacity: 0;
  }

  .content-wrapper {
    display: none;
    width: 100%;
    margin-top: 60px;
    max-width: 700px;
    text-align: center;
    font-size: 1.15em;
    padding: 0 15px;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.line {
  display: block;
  position: absolute;
  height: 65px;
  width: 1px;
  right: 0;
  left: 0;
  top: calc(-100% + 10px);
  margin: auto;
  background-color: $color4;
  transform-origin: center bottom;
  transition: $anim;
}
