.home-container {
  min-height: calc(100vh - 60px); //80 => header height
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 576px) {
    justify-content: center;
    min-height: calc(100vh - 80px); //80 => header height
  }

  .title {
    margin-top: -2vh;

    @media (min-width: 992px) {
      margin-top: -4vh;
    }
    .gold {
      .atropos-inner {
        overflow: initial;
      }
      .title-anim {
        &:last-child {
          display: block;
          margin-top: -2vh;

          @media (min-width: 992px) {
            margin-top: -4vh;
          }
        }
      }
    }
  }
}
