.single-work {
  .main-title {
    text-align: center;
    margin-top: 20px;

    @media (min-width: 576px) {
      margin-top: 80px;
    }
  }

  .button-container {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    @media (min-width: 576px) {
      margin-top: -20px;
    }

    .svg-container {
      display: flex;
      flex-wrap: wrap; // for break to work
      justify-content: center;
      align-items: center;
      margin: 75px auto 40px;

      @media (max-width: 575px) {
        padding: 0 40px;
        margin: 45px auto 0px;

        .icon-container {
          margin-bottom: 10px;
        }
      }

      > span,
      svg {
        display: block;
        margin-right: 10px;

        @media (min-width: 576px) {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .content-wrapper {
      display: block;
      margin-top: 30px;

      p {
        line-height: 2.4;
      }
    }

    .visit-website {
      z-index: 1;
      bottom: -80px;
      max-width: 100%;
      width: calc(50% + 12px);

      @media (min-width: 992px) {
        left: 16%;
        width: calc(25% + 6px);
      }

      @media (min-width: 1400px) {
        width: 17%;
      }
    }
  }

  .mockup-design {
    display: block;
    width: 100%;
    margin: 0 auto 40px;
    padding: 0px 15px;

    @media (min-width: 992px) {
      max-width: 83.333333%;
      padding: 0;
    }

    img {
      display: block;
      margin: auto;
      object-fit: contain;
      max-width: 100%;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
      border-radius: $radius;
    }

    > span {
      position: unset !important;
    }

    .bottom {
      img {
        max-height: 600px;
      }
    }
  }

  .datas-container {
    padding: 80px 30px;
    @media (min-width: 992px) {
      padding: 240px 9px;
    }

    .subtitle {
      margin-left: -2px;
    }
    p {
      font-size: 1.25em;
      line-height: 2.5;

      br {
        display: none;
      }
    }
  }

  .bg-container-main {
    position: absolute;
    width: 100vw;
    height: 101vh;
    top: 0;
    left: 0;
    z-index: -10;

    .bg {
      position: absolute;
      opacity: 0.2;

      img {
        width: 100vw;
        height: 101vh;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(0deg, rgba(22, 16, 50, 1) 0%, rgba(22, 16, 50, 0) 100%);
      }
    }
  }

  .swiper {
    padding: 0 10%;

    @media (min-width: 576px) {
      padding: 0 4%;
    }

    @media (min-width: 1920px) {
      padding: 0;
    }

    .swiper-wrapper {
      margin-bottom: 180px;

      @media (min-width: 1920px) {
        padding: 0 8.333333%;
      }
    }
  }
}
