.single-work {
  .main-title {
    text-align: center;
    margin-top: 80px;
  }

  .button-container {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    @media (min-width: 576px) {
      margin-top: -20px;
    }

    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 45px auto 40px;

      > span,
      svg {
        display: block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .mockup-design {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0px 15px;

    @media (min-width: 992px) {
      max-width: 84.666666%;
      padding: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: auto;
      border-radius: $radius;
    }

    .bottom {
      img {
        max-height: 600px;
      }
    }
  }

  .datas-container {
    padding: 80px 30px;
    @media (min-width: 992px) {
      padding: 240px 9px;
    }

    .subtitle {
      margin-left: -2px;
    }
    p {
      font-size: 1.25em;
      line-height: 2.5;

      br {
        display: none;
      }
    }
  }

  .bg-container-main {
    position: absolute;
    width: 100vw;
    height: 101vh;
    top: 0;
    left: 0;
    z-index: -10;

    .bg {
      position: absolute;
      opacity: 0.2;

      img {
        width: 100vw;
        height: 101vh;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(0deg, rgba(22, 16, 50, 1) 0%, rgba(22, 16, 50, 0) 100%);
      }
    }
  }

  .swiper {
    @media (max-width: 575px) {
      padding: 0 10%;
    }
  }

  .swiper-wrapper {
    margin-bottom: 180px;

    @media (min-width: 1920px) {
      padding: 0 25%;
    }
  }
}
