.page-skills {
  @media (min-width: 992px) {
    width: 66.666666%;
  }

  padding-bottom: 180px;

  .main-title {
    margin: 30px auto 45px;

    .title {
      display: table;
      opacity: 1;
      margin: auto;
      font-size: 5vw;
      line-height: 1.55;

      .atropos {
        display: inline-block;

        &-inner {
          overflow: initial;
        }
      }
    }
  }

  .card-skill {
    position: relative;
    display: block;
    line-height: 2.25;
    padding: 25px 0;

    @media (min-width: 992px) {
      padding: 25px;
    }

    @media (min-width: 1920px) {
      width: 25%;
    }

    &-wrapper {
      position: relative;
      height: 100%;
      padding: 25px;
      border-radius: $radius;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(40px) saturate(120%) brightness(100%);

      > span {
        display: block;
        margin-bottom: 20px !important;
      }

      .img {
        margin-bottom: 15px;
      }

      .subtitle {
        font-size: 1em;
        margin-left: 0;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
