.page-skills {
  .main-title {
    margin: 0 auto;

    .title {
      display: table;
      opacity: 1;
      margin: auto;
      font-size: 5vw;
      line-height: 1.55;

      .atropos {
        display: inline-block;

        &-inner {
          overflow: initial;
        }
      }
    }
  }
  .card-skill {
    display: block;
    padding: 25px 40px 25px 9px;
    line-height: 2.25;
  }
}
